.success-icon {
  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 3.5rem;
    height: 3.5rem;

    svg {
      fill: $green;
    }
  }

  &__container--background {
    background-color: lighten($green, 45%);
  }
}
